@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
    color: #000000;

    font-family: 'Open Sans', sans-serif;
}
header {
    padding: 1rem;

    background-color: #292929;
    color: #b0b0b0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    text-align: center;
}
footer {
    padding: 0.5rem;

    background-color: #000000;
    color: #ffffff;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-align: center;
}
section {
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
p {
    font-size: 1rem;
    font-weight: 400;
}
b {
    font-weight: 700;
}
h1 {
    font-size: 2rem;
    font-weight: 700;
}
h2 {
    font-size: 1.5rem;
    font-weight: 500;
}
ul {
    padding-left: 2rem;
}

.recommended-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.recommended-icon {
    width: 2rem;
    height: 2rem;

    fill: currentColor;
}